{%- assign event_keys = "" -%}
{%- assign today_s = "today" | date: "%Y-%m-%dT00:00:00.000+02:00" | date: "%s" | plus: 0 -%}
{%- assign months_l = ", Januari, Februari, Mars, April, Maj, Juni, Juli, Augusti, September, Oktober, November, December" | split: ", " -%}
{%- assign days_l = ", Måndag, Tisdag, Onsdag, Torsdag, Fredag, Lördag, Söndag" | split: ", " -%}
{%- assign i = 0 -%}
{%- assign day_prev = 0 -%}
{%- assign show = 10 -%}

{%- assign sorted_days = data.events | sort: "date_time" -%}

<div class="layout layout--left">
  <div class="" style="display: flex; flex-flow: column wrap; height: 100%; gap: var(--gap);">
    {%- for event in sorted_days -%}
    {%- assign day_s = event.date_time | date: "%s" | plus: 0 -%}
    {%- if today_s > day_s %}{% continue %}{% endif -%}
    <div style="width: calc(400px/2 - var(--gap)*2);">
      {%- assign i = i | plus: 1 -%}
      {%- if day_s != day_prev -%}
      {%- assign month = event.date_time | date: "%m"| abs -%}
      {%- assign day_e = event.date_time | date: "%e" -%}
      {%- assign day_u = event.date_time | date: "%u" | plus: 0 -%}
      <div class="label label--underline mb--1">{{ days_l[day_u] }}, {{ day_e }} {{ months_l[month] }}</div>
      {%- endif -%}
      {%- assign day_prev = day_s -%}
      <div>
        <div class="label clamp--3" style="font-size: 13px;" data-pixel-perfect="true">{{ event.summary }}</div>
        {%- if event.description contains "Lunch 1" -%}
        {%- else -%}
        <div class="description clamp--2">{{ event.description }}</div>
        {%- endif -%}
      </div>
    </div>
    {%- if i == show %}{% break %}{% endif -%}
    {%- endfor -%}
  </div>
</div>

<div class="title_bar">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Kalender</span>
</div>
